body{
    display: flex;
    flex-direction: column;
    background-color: #F3EEEA;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-size: larger;
}
#instructions{
    display: flex;
    flex-direction: column;
    width: auto;
    text-align: left;
    position: relative;
}
body>p{
    margin: 5px;
}

#instructions>h2{
    text-align: center;
    margin: 0px;    
}
ol>li{
    position: relative;
    left: 15%;
}

#targets{
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}
#reporters{
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}
#targets-reporters{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10%;
}
#button-container{
    position: relative;
    left: 60%;
    padding-top: 10%;
}
button{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
input{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#select-files{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
#download-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#targets-reporters{
    display: grid;
    grid-template-columns: auto auto;
}˙
#Well96-diagram{
    display: grid;
    grid-template-columns: repeat(12, auto);
    gap: 1%;
    width:50%;
    padding-bottom: 2rem;
}
#Well96-diagram>div{
    height: 50px;
    width: 50px;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
#Well384-diagram{
    display: grid;
    grid-template-columns: repeat(24, auto);
    gap: 1%;
    padding-bottom: 10%;
    padding-top: 2%;
    width: 75%;
    
}
#Well384-diagram>div{
    height: 40px;
    width: 40px;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.well{ 
    font-weight: bolder;
    justify-content: center;
    background-color: #DADDB1;
}
.well .hovertext{
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.585);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-size: medium;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.well:hover .hovertext {
    visibility: visible;
}
